<!DOCTYPE html>
<html ng-app="angularTable">
<head>
    <title>List Users</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
    

</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Facebook Profile Viewer</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/listUsers/100002635595332">View My Profile</a>
            </ul>
        </div>
    </div>
   
    <center><h2>Users List</h2></center>
    <div role="main" class="container theme-showcase">
        <div ng-controller="listData">
        <div class="row">
            <br>
            <div class="col-xs-1"></div>
            <div class="col-xs-7 ">
                <form class="form-inline">
                    <div class="form-group">
                        <label> Search </label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="col-xs-3 ">
                  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-lg
                +" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" color ="white"></span>  Add User</button> 

                   
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Add New User</h3>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form name="userForm" action="">
                                        <label for="name">Name: </label><input class="form-control" ng-model="user.name" type="text" name="name" id="name" required><br>
                                        <label for="email">Email Address: </label><input class="form-control" ng-model="user.email" type="email" name="email" id="email" required"><br>
                                        <span class="error" ng-show="myForm.input.$error.email">Not valid email!</span>
                                        <label for="phone">Phone Number:</label><input class="form-control" ng-model="user.phone" type="tel" name="phone" id="phone" required><br>
                                        <label for="url">Facebook URL: </label><input class="form-control" ng-model="user.url" type="url" name="url" id="url" required><br>
                                        <label for="fid">Facebook ID: </label><input class="form-control" ng-model="user.fid" type="text" name="fid" id="fid" required><br>
                                    <button type = "submit" class="btn btn-primary" ng-click="addUser(userForm.$valid)">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            
                          </div>
                
                        </div>
                      </div>
                    </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <br> 
                <div class="bs-component table-responsive" ng-controller="listData">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th ng-click="sort('name')">Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('email')">Email Address
                                <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="hidden-xs" ng-click="sort('phone')">Phone Number
                                <span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th > Edit/Delete User</th>
                            </tr>
                        </thead>
                        <tbody>
                            
	                        <tr dir-paginate="user in userslist | filter:search | itemsPerPage:10 | orderBy:sortKey:reverse">
	                            <td><a href="/listUsers/{{user.fid}}">{{ user.name }} </a></td>
	                            <td>{{user.email}}</td>
	                            <td class="hidden-xs">{{user.phone}}</td>
	                            <td> 
	                            <button class="btn btn-default" style="color:green" data-toggle="modal" data-target="#myModal2" ng-click="edit(user._id)"><span class="glyphicon glyphicon-pencil" ></span> &nbsp;&nbsp;Edit</button>
	                            <button class="btn btn-default" style="color:red" ng-click="remove(user._id)"><span class="glyphicon glyphicon-remove" ></span>&nbsp;&nbsp;Delete</button>
	                                    
	                            </td>
	                                  
	                        </tr>
                           
                        </tbody>
                    </table>
                    
                    <!-- Update Modal -->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">Update User {{user.name}}</h3>
                          </div>
                          <div class="modal-body">
                            <div class="row" >
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form name="updateForm" action="">
                                        <label for="name">Name: </label><input class="form-control" ng-model="user.name" type="text" name="name" id="name" required><br>
                                        <label for="email">Email Address: </label><input class="form-control" ng-model="user.email" type="email" name="email" id="email" required><br>
                                        <label for="phone">Phone Number:</label><input class="form-control" ng-model="user.phone" type="tel" name="phone" id="phone" required><br>
                                        <label for="url">Facebook URL: </label><input class="form-control" ng-model="user.url" type="url" name="url" id="url" required><br>
                                        <label for="fid">Facebook ID: </label><input class="form-control" ng-model="user.fid" type="text" name="fid" id="fid" required><br>

                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            
                          </div>
                          <div class="modal-footer">
                            <button type = "submit" class="btn btn-primary" ng-click="update(updateForm.$valid)">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <dir-pagination-controls
                       max-size="10"
                       direction-links="true"
                       boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
            <div class="col-xs-1"></div>  
        </div>       
    </div>
        
        <script src="/js/angular.min.js"></script>
        <script src="/controllers/controller.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/dirPagination.js"></script>

</body>
</html>