<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<script>
    // initialize and setup facebook js sdk
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1813986828875962',
            xfbml      : true,
            version    : 'v2.5'
        });

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                document.getElementById('status').innerHTML = 'You are logged in';
                document.getElementById('get').style.visibility = 'visible';
                document.getElementById('login').style.visibility = 'hidden';
            } 
            else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'You are not logged in. Login to view your profile information.'
            } 
            else {
                document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                document.getElementById('get').style.visibility = 'hidden';
            }
        });
    };
    //load sdk into profile page
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
    function login() {
        FB.login(function(response) {
            if (response.status === 'connected') {
                document.getElementById('status').innerHTML = 'You are logged in';
                document.getElementById('get').style.visibility = 'visible';
                document.getElementById('login').style.visibility = 'hidden';
                
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'You are not logged in. Login to view your profile information..'
            } else {
                document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                document.getElementById('get').style.visibility = 'hidden';
            }
        }, {scope: 'email,user_birthday,user_location,user_work_history,user_education_history',return_scopes: true});
    }

    // getting basic user info
    function getInfo(){
        
        FB.api('/me', {fields: 'id,name,email,gender,birthday,location,education,work,picture,link'},function(response) {
            
            if (typeof response.location != 'undefined'){
                var location = response.location.name;
            }
            document.getElementById("name").innerHTML='<strong>Username: </strong> ' + response.name;
            document.getElementById("location").innerHTML='<strong>Location: </strong> ' + location;
            document.getElementById("email").innerHTML='<strong>Email: </strong> ' + response.email;
            document.getElementById("birthday").innerHTML='<strong>Birthday: </strong> ' + response.birthday;
            document.getElementById("gender").innerHTML='<strong>Gender: </strong> ' + response.gender;
            document.getElementById("profileImage").setAttribute("src",response.picture.data.url);
            document.getElementById("f_url").setAttribute("href",response.link);
            
            //this code will display data for my account or any account with two work history and one education information
            //Set work history information
            if (typeof response.work != 'undefined'){

                document.getElementById("work1").innerHTML='<strong>'+response.work[0].position.name+'</strong>' ;
                document.getElementById("location1").innerHTML='<strong>'+response.work[0].location.name+'</strong>'
                document.getElementById("company1").innerHTML= '<strong>'+response.work[0].employer.name+'</strong>';


                document.getElementById("work2").innerHTML='<strong>'+response.work[1].position.name+'</strong>' ;
                document.getElementById("location2").innerHTML='<strong>'+response.work[1].location.name+'</strong>'
                document.getElementById("company2").innerHTML= '<strong>'+response.work[1].employer.name+'</strong>';
            }

            //Set education history information
            if (typeof response.education != 'undefined'){
                document.getElementById("concentration").innerHTML='<strong>'+response.education[1].concentration[0].name+'</strong>'
                document.getElementById("college").innerHTML= '<strong>'+response.education[1].school.name+'</strong>';
            }

            //this code was written for different accounts to get wor history information and view it
            // var count_work = (response.work).length;
            // var i=0,id_work=1;
            // for(i=0;i<count_work;i++){
            //     var p_work = document.createElement("P"); 
            //     p_work.setAttribute("id",id_work);

            //     var t1 = document.createTextNode(response.work[i]['position']['name']);       // Create a text node
            //     p_work.appendChild(t1); // Append the text to <p>
                                                       
            //     var t2 = document.createTextNode(response.work[i]['location']['name']);       // Create a text node
            //     p_work.appendChild(t2); // Append the text to <p>

            //     var t3 = document.createTextNode(response.work[i]['employer']['name']);       // Create a text node
            //     p_work.appendChild(t3); 
                
            //     var parent_work=document.getElementById('parent_work');                                           // Append the text to <p>
            //     parent_work.appendChild(p_work); 
            //     document.getElementById(id_work).style.color = "blue";


            //     id_work++;
            // }
            

        });
        //View profile template with user's facebook information
        var mydev = document.getElementById('mydev');
        if (mydev.style.visibility === 'hidden') {
            mydev.style.visibility = 'visible';
        }
        document.getElementById('get').style.visibility = 'hidden';
        document.getElementById('status').style.visibility = 'hidden';
   
    }



</script>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Facebook Profile Viewer</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/listUsers/100002635595332">View My Profile</a></li>
            </ul>
        </div>
    </div>
    
    <center>
        <div id="status" class="alert alert-info"  style="height:50px; width:200px;"></div>
        <button class="btn btn-primary" onclick="getInfo()" id="get">Get My Profile</button><br>
        <button class="btn btn-primary" onclick="login()" id="login">Login By Facebook</button>
    </center>
    <div id="mydev">
        <div class ="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Facebook Profile</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3  col-lg-2">
                                <img id="profileImage" height="200" width="150"><br><br>
                                <a id="f_url" class="btn btn-primary" style="width:150px;">View Profile</a>
                            </div>
                            <div class="col-xs-6 col-sm-9 col-lg-10">
                                <p id="name"></p><br>
                                <p id="location"></p><br>
                                <p id="email"></p><br>
                                <p id="birthday"></p><br>
                                <p id="gender"></p><br>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
    </div>
    <div class ="row">
        <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Work History</div>
                    <div class="panel-body">
                        <div id="parent_work">
                            <div class="row">
                                <div  class="col-xs-6">
                                    <p id="work1"></p>
                                </div>
                                <div  class="col-xs-6">
                                    <p id="location1" style="background-color:grey;width:70px;"></p>
                                    <p id="company1" style="background-color:lightblue;width:200px;"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div  class="col-xs-6">
                                    <p id="work2"></p>
                                </div>
                                <div  class="col-xs-6">
                                    <p id="location2" style="background-color:grey;width:70px; "></p>
                                    <p id="company2" style="background-color:lightblue;width:200px;"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        <div class="col-sm-1"></div>
    </div>

    <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">Education History</div>
                <div class="panel-body">
                    <div id="parent_edu">
                        <div class="row">
                            <div  class="col-xs-6">
                                <p id="concentration"></p>
                            </div>
                            <div  class="col-xs-6">
                                <p id="college"></p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    </div>




<script src="/js/jquery.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var mydev = document.getElementById('mydev');
    mydev.style.visibility ='hidden';
</script>
</body>
</html>